<body class="">
    <%= render "pages/Teacher/header" %>
    <main class="flex">
        <nav id="menu" class="border-r-[1px] shadow-lg border-solid border-black-400 w-64 h-[90vh] hidden md:inline">
            <div class="text-gray-600 text-sm text-center p-3">MENU BAR --></div>
            <div class="font-semibold p-2 hover:bg-slate-100 hover:border-l-4 border-green-500" aria-current="page"><%= link_to "Dashboard", teacher_dashboard_path %></div>
            <div class="font-semibold p-2 bg-slate-100 border-l-4 border-green-500"><%= link_to "Announcement", teacher_announcement_path %> </div>
            <div class="font-semibold p-2 hover:bg-slate-100 hover:border-l-4 border-green-500"><%= link_to "Schedule", teacher_schedule_path %> </div>
            <div class="font-semibold p-2 hover:bg-slate-100 hover:border-l-4 border-green-500"><%= link_to "Grades", teacher_grades_path %> </div>
            <div class="font-semibold p-2 hover:bg-slate-100 hover:border-l-4 border-green-500"><%= link_to "Settings", teacher_settings_path %> </div>
        </nav>
        <div>
            <div class="border-[1px] border-solid  border-gray-200 bg-gray-100 text-gray-400 md:w-[83vw] w-[88vw] h-12 md:m-5 m-4 mb-7 rounded-lg flex items-center pl-2">ACCOUNT: <%= "#{current_person&.fname.upcase} #{current_person&.lname.upcase}"%></div>
            <div class="md:border-[1px] md:border-solid md:border-black-500 h-96 md:m-5 mx-4 text-center">
                <div class="shadow-md border-2 border-black">
                <p class="text-green-500 text-bold text-xl shadow-md mb-6
                "
                >SCHOOL ANNONCEMENT
                </p>
                
                <div>
                    <% @announce.each do |announce| %>

                    <div class=" text-bold shadow-md mb-6">
                    <p><span class="text-red-500">TITLE -></span> <%= announce.title %> <span class="text-red-500"><- TITLE</span> </p>
                    <p><span class="text-red-500">TIME -></span> <%= announce.anounced_time %> <span class="text-red-500"><- TIME</span> </p>
                    </div>
                    
                    <p class=" whitespace-pre-line text-center">
                    <%= announce.content %>
                    </p>


                    <% end %>
                </div>
                </div>
            </div>
        </div>
    </main>
</body>