<body class="">
    <%= render "pages/Teacher/header" %>
    <main class="flex">
        <nav id="menu" class="border-r-[1px] shadow-lg border-solid border-black-400 w-64 h-[90vh] hidden md:inline">
            <div class="text-gray-600 text-sm text-center p-3">MENU BAR --></div>
            <div class="font-semibold p-2 hover:bg-slate-100 hover:border-l-4 border-green-500" aria-current="page"><%= link_to "Dashboard", teacher_dashboard_path %></div>
            <div class="font-semibold p-2 hover:bg-slate-100 hover:border-l-4 border-green-500"><%= link_to "Announcement", teacher_announcement_path %> </div>
            <div class="font-semibold p-2 hover:bg-slate-100 hover:border-l-4 border-green-500"><%= link_to "Schedule", teacher_schedule_path %> </div>
            <div class="font-semibold p-2 bg-slate-100 border-l-4 border-green-500"><%= link_to "Grades", teacher_grades_path %> </div>
            <div class="font-semibold p-2 hover:bg-slate-100 hover:border-l-4 border-green-500"><%= link_to "Settings", teacher_settings_path %> </div>
        </nav>
        <div>
            <div class="border-[1px] border-solid  border-gray-200 bg-gray-100 text-gray-400 md:w-[83vw] w-[88vw] h-12 md:m-5 m-4 mb-7 rounded-lg flex items-center pl-2">ACCOUNT: <%= "#{current_person&.fname.upcase} #{current_person&.lname.upcase}"%></div>
            <div class="md:border-[1px] md:border-solid md:border-black-500 h-96 md:m-5 md:mx-4 mx-1 text-center">
                <div class="shadow-md border-2 border-black">
                    <p class="text-green-500 text-bold text-xl shadow-md mb-6 
                    "
                    >TEACHER GRADING
                    </p>
                                   <div class="flex flex-col justify-center items-center">
                    <p class="text-bold text-left text-sm 
                    "
                    ><span class="text-md text-bold text-green-500">NAME:</span> <%= "#{current_person.fname.upcase} #{current_person.lname.upcase}"%>
                    </p>

                    <br>
                    <p class="text-bold text-right text-sm 
                    "
                    ><span class="text-md text-green-500 text-bold">ADVISORY:</span><% @advisor.each do |advisor| %> || <%= advisor.section_name %> <%= advisor.grade_lvl %> || <% end %>
                    </p>

                </div>

                    <br>
                    <p class="text-green-500 text-bold text-xl shadow-md mb-6 
                    "
                    >STUDENT GRADES
                    </p>

                <div class="flex justify-center mt-7 md:mb-10 mb-5">
                    <table class="border border-solid border-black p-2">
                        <thead class="border border-solid border-black text-[14px] md:text-2xl text-green-500">
                            <td class="border border-solid border-black">SUBJECT</td>
                            <td class="border border-solid border-black">STUDENT</td>
                            <td class="border border-solid border-black">P1</td>
                            <td class="border border-solid border-black">P2</td>
                            <td class="border border-solid border-black">P3</td>
                            <td class="border border-solid border-black">AVE.</td>
                            <td class="border border-solid border-black">RESULT</td>
                        </thead>  
                        <% @grade.each do |grade| %>
                        <tbody class="border border-solid border-black text-[12px]">
                            <td class="border border-solid border-black"><%= grade.subject&.subject_name %></td>
                            <td class="border border-solid border-black"><%= "#{grade.student&.lname} #{grade.student&.fname}" %></td>
                            <td class="border border-solid border-black"><input type="text" maxlength="4" class="w-[53px] text-[12px]"></td>
                            <td class="border border-solid border-black"><input type="text" maxlength="4" class="w-[53px] text-[12px]"></td>
                            <td class="border border-solid border-black"><input type="text" maxlength="4" class="w-[53px] text-[12px]"></td>
                            <td class="border border-solid border-black">N/A</td>
                            <td class="border border-solid border-black">N/A</td>
                        </tbody>
                        <% end %>
                    </table>
                </div>
                <input type="submit" value="Update" class="mb-5 bg-green-900 w-20 h-10 text-white text-bold border hover:cursor-pointer">
            </div>
        </div>
    </main>
</body>