<%= turbo_frame_tag "modal-modal" do %>

<div id="crud-modal" tabindex="-1" aria-hidden="true" class="overflow-y-auto overflow-x-hidden fixed top-10 right-0 left-0 sm:left-1/4 md:left-1/3 z-50 w-full max-h-full">
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-600">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 dark:bg-violet-600">
                <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                    Create Announcement
                </h3>
                <a href="#"><button type="button" class="text-gray-400 bg-transparent bg-gray-200 hover:text-red-900 rounded-full text-xs w-6 h-6 ms-auto inline-flex justify-center items-center dark:hover:bg-red-600 dark:hover:text-white" data-modal-toggle="crud-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button></a>
            </div>
            <!-- Modal body -->
            <form class="p-4 md:p-5">
                <div class="grid gap-4 mb-4 grid-cols-6">
                    <div class="col-span-3 sm:col-span-6">
                        <label for="advisor_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Section Name</label>
                        <select name="advisor_name" id="advisor_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required>
                            <option>Select Section</option>
                            <% @section.each do |s| %>
                            <option value="<%= s.section_name %>"><%= s.section_name %></option>
                            <% end %>
                        </select>
                    </div>
                    <div class="col-span-3 sm:col-span-3">
                        <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Subjects</label>
                        <select id="category" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                            <option selected="">Select Subject</option>
                            <option value="TV">Student</option>
                            <option value="PC">Teacher</option>
                            <option value="GA">Admin</option>
                        </select>
                    </div>
                    <div class="col-span-3 sm:col-span-3">
                        <label for="advisor_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Teacher</label>
                        <select name="advisor_name" id="advisor_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" required>
                            <option>Select Teacher</option>
                            <% @teach.each do |t| %>
                            <option value="<%= "#{t.fname} #{t.lname}"%>"><%= "#{t.fname} #{t.lname}"%></option>
                            <% end %>
                        </select>
                    </div>
                </div>
                <div class="flex justify-between p-4">
                    <button type="submit" class="transition duration-300 text-white inline-flex items-center bg-violet-700 hover:bg-violet-800 focus:ring-4 focus:outline-none focus:ring-violet-300 font-medium rounded-lg text-sm px-7 py-2.5 text-center dark:bg-violet-600 dark:hover:bg-violet-700 dark:focus:ring-violet-800">
                        Add
                    </button>
                    <a href="#"><button type="button" class="transition duration-300 text-white inline-flex items-center bg-violet-700 hover:bg-violet-800 focus:ring-4 focus:outline-none focus:ring-violet-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-violet-600 dark:hover:bg-violet-700 dark:focus:ring-violet-800">
                        Cancel
                    </button></a>
                </div>
            </form>
        </div>
    </div>
</div> 


<% end %>