<body class="">
    <%= render "pages/Admin/header" %>
    <main class="flex">
        <nav id="menu" class="border-r-[1px] shadow-lg border-solid border-black-400 w-64 h-[90vh] hidden md:inline">
            <div class="text-gray-600 text-sm text-center p-3">MENU BAR --></div>
            <div class="font-semibold p-2 hover:bg-slate-100 hover:border-l-4 border-green-500" aria-current="page"><%= link_to "Student Database", student_table_path %></div>
            <div class="font-semibold p-2 hover:bg-slate-100 hover:border-l-4 border-green-500"><%= link_to "Teacher Database", teacher_table_path %> </div>
            <div class="font-semibold p-2 hover:bg-slate-100 hover:border-l-4 border-green-500"><%= link_to "Create Section", admin_settings_path %> </div>
            <div class="font-semibold p-2 hover:bg-slate-100 hover:border-l-4 border-green-500"><%= link_to "View Section", admin_settings_path %> </div>
            <div class="font-semibold p-2 bg-slate-100 border-l-4 border-green-500"><%= link_to "Accounts", admin_accounts_path %> </div>
            <div class="font-semibold p-2 hover:bg-slate-100 hover:border-l-4 border-green-500"><%= link_to "Settings", admin_settings_path %> </div>
        </nav>
        <div>
            <div class="border-[1px] border-solid  border-gray-200 bg-gray-100 text-gray-400 md:w-[83vw] w-[88vw] h-12 md:m-5 m-4 mb-7 rounded-lg flex items-center pl-2">MANAGE ACCOUNT</div>
            <div 
            class="md:border-[1px] md:border-solid md:border-black-500  mx-4 flex flex-col items-center justify-around h-fit
            md:m-5 md:flex-row md:h-96">

            <form action="<%= admin_insert_info_path %>" method="POST">

            <label for="lname"
            class="text-green-500
            "> 
            Last Name:
            </label>
            <br>
            <input type="text" type="lname" name="lname" id="lname" 
            class="
            " 
            required>
            <br>

            <label for="fname"
            class="text-green-500
            "> 
            First Name:
            </label>
            <br>
            <input type="text" type="fname" name="fname" id="fname" 
            class="
            " 
            required>
            <br>

            <label for="birth"
            class="text-green-500
            "> 
            Birthday:
            </label>
            <br>
            <input type="date" type="birth" name="birth" id="birth" 
            class="
            " 
            required>
            <br>

            <label for="e_address"
            class="text-green-500
            "> 
            Address:
            </label>
            <br>
            <input type="text" type="e_address" name="e_address" id="e_address" 
            class="
            " 
            required>
            <br>

            <label for="account_type"
            class="text-green-500">
            Account Type:
            </label>
            <br>
            <select name="account_type" id="account_type" required>
                <option value="student">Student</option>
                <option value="teacher">Teacher</option>
            </select>
            <br>

            <input type="submit" value="Register" 
            class="bg-green-500 border-[1px] border-solid border-black w-20 mt-4
            ">
            
        </form>
            
        </div>
        </div>
    </main>
</body>