<body class="">
    <%= render "pages/Admin/header" %>
    <main class="flex">
        <nav id="menu" class="border-r-[1px] shadow-lg border-solid border-black-400 w-64 h-[90vh] hidden md:inline">
            <div class="text-gray-600 text-sm text-center p-3">MENU BAR --></div>
            <div class="font-semibold p-2 hover:bg-slate-100 hover:border-l-4 border-green-500 text-[15px]" aria-current="page"><%= link_to "Student Database", student_table_path %></div>
            <div class="font-semibold p-2 hover:bg-slate-100 hover:border-l-4 border-green-500 text-[15px]"><%= link_to "Teacher Database", teacher_table_path %> </div>
            <div class="font-semibold p-2 hover:bg-slate-100 hover:border-l-4 border-green-500 text-[15px]"><%= link_to "Create Announcement", admin_announcement_path %> </div>
            <div class="font-semibold p-2 bg-slate-100 border-l-4 border-green-500 text-[15px] text-green-500"><%= link_to "Create Section", create_section_path %> </div>
            <div class="font-semibold p-2 hover:bg-slate-100 hover:border-l-4 border-green-500 text-[15px]"><%= link_to "Accounts", admin_accounts_path %> </div>
            <div class="font-semibold p-2 hover:bg-slate-100 hover:border-l-4 border-green-500 text-[15px]"><%= link_to "Settings", admin_settings_path %> </div>
        </nav>
        <div>
            <div class="border-[1px] border-solid  border-gray-200 bg-gray-100 text-gray-400 md:w-[83vw] w-[88vw] h-12 md:m-5 m-4 mb-7 rounded-lg flex items-center pl-2"></div>
            <div class="md:border-[1px] md:border-solid md:border-black-500 h-96 md:m-5 mx-4">
                <div class="shadow-md border-2 border-black mb-10">
                    <div class="text-center">
                        <p class="text-green-500 text-bold text-xl shadow-md mb-6
                        "
                        >CREATE SECTION
                        </p>
                    </div>
                    <form action="<%= add_section_path %>" method="POST" class="p-2 md:text-center">
                        <label for="grade_lvl" 
                        class=" text-[15px]
                        ">
                        Grade level:
                        </label>
                        <select name="grade_lvl" id="grade_lvl" 
                        class="text-[12px] w-20 rounded-md
                        " 
                        required>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        </select>
                        <br class="m-5">
                        <label for="section_name" 
                        class=" text-[15px]
                        ">
                        Section:
                        </label>
                        <input type="text" name="section_name" id="section_name" 
                        class="w-46 rounded-md
                        ">
                        <br class="m-5">
                        <label for="advisor_name" 
                        class=" text-[15px]
                        ">
                        Advisor:
                        </label>
                        <select name="advisor_name" id="advisor_name" 
                        class="text-[12px] w-40 rounded-md
                        ">
                        <% @teacher.each do |teacher| %>
                        <option value="<%= "#{teacher.fname} #{teacher.lname}" %>"><%= "#{teacher.fname} #{teacher.lname}"%></option>
                        <% end %>
                        </select>
                        <br class="m-5">
                        <div class="text-center mt-5">
                        <input type="submit" value="Submit" 
                        class=" bg-green-900 w-20 h-10 text-white text-bold border hover:cursor-pointer
                        ">
                        </div>
                        <br>
                    </form>

                    <div class="text-center">
                        <p class="text-green-500 text-bold text-xl shadow-md mt-2
                        "
                        >SUBJECT TEACHER
                        </p>
                    </div>

                    <form action="<%= add_subject_teacher_path %>" method="POST" class="p-2 md:text-center">
                        <br>
                        <label for="section_name" 
                        class=" text-[15px]
                        ">
                        Section:
                        </label>

                        <select name="section_name" id="section_name" 
                        class="text-[12px] w-30 rounded-md
                        ">
                        <% @section.each do |section| %>
                        <option value="<%= section.section_name %>"><%= section.section_name %></option>
                        <% end %>
                        </select>
                        <br class="m-5">

                        <label for="sub_teacher" 
                        class=" text-[15px]
                        ">
                        Teacher:
                        </label>
                        <select name="sub_teacher" id="sub_teacher" 
                        class="text-[12px] w-40 rounded-md
                        ">
                        <% @teacher.each do |teacher| %>
                        <option value="<%= "#{teacher.fname} #{teacher.lname}" %>"><%= "#{teacher.fname} #{teacher.lname}"%></option>
                        <% end %>
                        </select>

                        <br class="m-5">

                        <label for="subject_name" 
                        class=" text-[15px]
                        ">
                        Subject:
                        </label>
                        <select name="subject_name" id="subject_name" 
                        class="text-[12px] w-30 rounded-md
                        ">
                        <% @subject.each do |subject| %>
                        <option value="<%= subject.subject_name %>"><%= subject.subject_name %></option>
                        <% end %>
                        </select>
                        <br class="m-5">

                        <div class="text-center mt-5">
                        <input type="submit" value="Submit" 
                        class=" bg-green-900 w-20 h-10 text-white text-bold border hover:cursor-pointer
                        ">
                        </div>
                        <br>
                    </form>

                    <div class="text-center">
                        <p class="text-green-500 text-bold text-xl shadow-md mt-2
                        "
                        >ENROLL STUDENT
                        </p>
                    </div>

                    <form action="<%= add_student_path %>" method="POST" class="p-2 md:text-center">
                        <br>
                        <label for="section_name" 
                        class=" text-[15px]
                        ">
                        Section:
                        </label>
                        <select name="section_name" id="section_name" 
                        class="text-[12px] w-30 rounded-md
                        ">
                        <% @section.each do |section| %>
                        <option value="<%= section.section_name %>"><%= section.section_name %></option>
                        <% end %>
                        </select>
                        <br class="m-5">

                        <label for="student_name" 
                        class=" text-[15px]
                        ">
                        Student:
                        </label>
                        <select name="student_name" id="student_name" 
                        class="text-[12px] w-40 rounded-md
                        ">
                        <% @student.each do |student| %>
                        <option value="<%= "#{student.fname} #{student.lname}" %>"><%= "#{student.fname} #{student.lname}"%></option>
                        <% end %>
                        </select>

                        <div class="text-center mt-5">
                        <input type="submit" value="Submit" 
                        class=" bg-green-900 w-20 h-10 text-white text-bold border hover:cursor-pointer
                        ">
                        </div>
                        <br>
                    </form>

                        <div class="text-center">
                        <p class="text-green-500 text-bold text-xl shadow-md mt-2
                        "
                        >SCHEDULE
                        </p>
                    </div>

                    <form action="<%= add_schedule_path %>" method="POST" class="p-2 md:text-center">
                        <br>
                        <label for="section_name" 
                        class=" text-[15px]
                        ">
                        Section:
                        </label>
                        <select name="section_name" id="section_name" 
                        class="text-[12px] w-30 rounded-md
                        ">
                        <% @section.each do |section| %>
                        <option value="<%= section.section_name %>"><%= section.section_name %></option>
                        <% end %>
                        </select>
                        <br class="m-5">
                        
                        <label for="subject_name" 
                        class=" text-[15px]
                        ">
                        Subject:
                        </label>
                        <select name="subject_name" id="subject_name" 
                        class="text-[12px] w-30 rounded-md
                        ">
                        <% @sched.each do |sched| %>
                        <option value="<%= sched.subject.subject_name %>"><%= sched.subject.subject_name %></option>
                        <% end %>
                        </select>
                        <br class="m-5">

                        <label for="time_in" 
                        class=" text-[15px]
                        ">
                        Time-in:
                        </label>
                        <input type="text" name="time_in" id="time_in" placeholder="00:00"
                        class="w-16 rounded-md text-[13.5px]
                        ">
                        <select name="time_one" id="time_one"
                        class="w-20 rounded-md text-[13.5px]"
                        >
                            <option value="AM">AM</option>
                            <option value="PM">PM</option>
                        </select>

                        <label for="time_out" 
                        class=" text-[15px]
                        ">
                        Time-out:
                        </label>
                        <input type="text" name="time_out" id="time_out" placeholder="00:00"
                        class="w-16 rounded-md text-[13.5px]
                        ">
                        <select name="time_two" id="time_two"
                        class="w-20 rounded-md text-[13.5px]"
                        >
                            <option value="AM">AM</option>
                            <option value="PM">PM</option>
                        </select>
                        <br class="m-5">

                        <label for="week_in_day" 
                        class=" text-[15px]
                        ">
                        Day:
                        </label>
                        <input type="text" name="week_in_day" id="week_in_day" placeholder="M/TH/W/T/F/SAT"
                        class="w-36 rounded-md text-[13.5px]
                        ">

                        <div class="text-center mt-5">
                        <input type="submit" value="Submit" 
                        class=" bg-green-900 w-20 h-10 text-white text-bold border hover:cursor-pointer
                        ">
                        </div>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </main>
</body>